In [1]:
import pandas as pd
X = pd.read_csv(r'C:\Users\User\Machine_Learning_Projects\Dropout_Prediction\Input.csv')
Y = pd.read_csv(r'C:\Users\User\Machine_Learning_Projects\Dropout_Prediction\Output.csv')

In [2]:
import joblib

In [3]:
model = joblib.load(r"C:\Users\User\Machine_Learning_Projects\Dropout_Prediction\Dropout_Prediction_Model.joblib")

In [4]:
X

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,8,5,2,1,1,13,10,6,10,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,6,1,11,1,1,1,3,4,4,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,5,1,1,22,27,10,10,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,8,2,15,1,1,23,27,6,4,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,12,1,3,0,1,22,28,10,10,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,1,1,6,15,1,1,1,1,6,5,...,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06
3626,1,1,2,15,1,1,1,1,10,10,...,0,0,6,6,2,11.000000,0,11.1,0.6,2.02
3627,1,1,1,12,1,1,22,27,10,10,...,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79
3628,1,1,1,9,1,1,22,27,8,5,...,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12
3629,1,5,1,15,1,1,23,27,6,10,...,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70

In [5]:
Y

      Target
0          0
1          1
2          0
3          1
4          1
...      ...
3625       1
3626       0
3627       0
3628       1
3629       1

[3630 rows x 1 columns]

In [6]:
predictions = model.predict(X)

In [9]:
predictions.shape

(3630,)

In [8]:
import  pandas as pd
pd.DataFrame(predictions).to_csv('RF_Prediction_Results.csv', index=False)

In [ ]:
import matplotlib.pyplot as plt
import  seaborn as sns
best_estimator = model.best_estimator_ #getting the best features trough best attribute method
importance_fraction = best_estimator.feature_importances_

# creating a dataframe having feature names and their corresponding importance fraction
feat_importances = pd.DataFrame({'Feature': X.columns, 'Importance': importance_fraction})

# sorting the dataframe by importance in descending order
feat_importances = feat_importances.sort_values('Importance', ascending=False)

# visualizing the important features using a horizontal barplot
sns.barplot(x='Importance', y='Feature', data=feat_importances[:10], color="steelblue")
plt.title('Feature Importance Plot')
plt.xlabel('Importance')
plt.ylabel('Feature')
plt.show()

In [ ]:
feat_importances